.COLOR-SCHEME-BLUE {
  --message: #006ad8;
  --primary: #006ad8;
  --background: #d4e9ff;
  --secondary: #00346c;
  --text: #00346c;
  --text-on-secondary: #d4e9ff;
}

.COLOR-SCHEME-GREY {
  --message: #545b68;
  --background: #e8f4fa;
  --text: #32363f;
  --secondary: #545b68;
  --primary: #545b68;
  --text-on-secondary: #fff;
}
